/* styles for @media print */
@media print {
  .container {
    width: auto;
  }
}
/* basic bootstrap reset */
/* disable scroll padding right on modal and put modal on other elements upper*/
.modal-open {
  padding-right: 0 !important;
}

.modal {
  z-index: 999;
  padding-right: 0 !important;
}

/* disable default bootstrap form input box shadow on focus */
.form-control:focus {
  box-shadow: none !important;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */
/* Account for fixed navbar */
body {
  min-width: 980px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilitze the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */
/* Reset the container */
.container {
  width: 980px;
  max-width: none !important;
}

/* disable navbar margins */
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/*
* Browserhappy
*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
* basic reset
*/
* {
  outline: none !important;
}

html, body {
  padding: 0;
}

/* Project styles */
/*
* lang
*/
.lang {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 865px;
  border: 1px dotted #ccc;
  padding: 5px;
  border-radius: 5px;
}
.lang_title {
  display: inline-block;
  margin-right: 10px;
}
.lang a {
  padding-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

/* nav */
.active {
  font-weight: 800;
}

nav {
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
}

nav ul {
  padding: 0;
}

nav li {
  float: left;
  list-style: none;
  margin-right: 40px;
}

nav li a {
  color: #000;
}
nav li a:hover, nav li a:active, nav li a:focus {
  color: #000;
  text-decoration: none;
}

/*
* header
*/
.header {
  margin-top: 20px;
  position: relative;
}

/*
* katenka
*/
.katenka {
  margin-top: 20px;
}
.katenka_img {
  margin-bottom: 20px;
}

/*
* photos
*/
.photos {
  margin-top: 20px;
}
.photos_wrapper__item {
  position: relative;
}
.photos_wrapper__item img {
  border: 10px solid #ccc;
  margin-bottom: 50px;
  width: 100%;
  max-width: 100%;
  height: 476px;
}
.photos_wrapper__item p {
  font-weight: 400;
  color: #fff;
  position: absolute;
  padding: 5px;
  background: rgba(0, 0, 0, 0.4);
}
.photos_wrapper__item i {
  position: absolute;
  right: 19%;
  top: 25%;
  font-size: 125px;
  opacity: 0.4;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 150px;
  padding: 43px;
  overflow: hidden;
}

/*
* details
*/
.details {
  margin-top: 20px;
}

/*
* contacts
*/
.contacts {
  margin-top: 20px;
}
.contacts_map {
  margin: 20px 0;
}

/*
* footer
*/
.footer {
  margin: 25px 0;
}

/*# sourceMappingURL=style.css.map */