/*
* footer
*/

.footer {
    margin: 25px 0;
}

.socials {
  text-align: center;
  border-top: 1px solid #000;
  padding-top: 10px;
}

.vk {
  font-size: 0;
  display: inline-block;
  width: 120px;
  height: 28px;
  background-image: url(../img/vkontakte.jpg);
  background-repeat: no-repeat;
}

.fb {
  font-size: 0;
  display: inline-block;
  width: 120px;
  height: 28px;
  background-image: url(../img/facebook.jpg);
  background-repeat: no-repeat;
  margin-left: 20px;
}